.utill-list::after, .footer-list::after {
  content: '';
  display: block;
  clear: both;
}

.utill-list > *, .footer-list > * {
  float: left;
}

.utill-list a:hover::before, .utill-list a:focus::before, .menu-list a:hover .title-context::before,
.menu-list a:focus .title-context::before, .menu-list .title-context.actived-title-context::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background: #EEEE23;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
}

@font-face {
  font-family: 'Dotum Light';
  src: url("../assets/fonts/KoPubDotumLight.ttf") format("truetype"), url("../assets/fonts/KoPubDotumLight.otf") format("opentype"), url("../assets/fonts/KoPubDotumLight.woff") format("woff"), url("../assets/fonts/KoPubDotumLight.svg") format("svg");
}

@font-face {
  font-family: 'Dotum Medium';
  src: url("../assets/fonts/KoPubDotumMedium.ttf") format("truetype"), url("../assets/fonts/KoPubDotumMedium.otf") format("opentype"), url("../assets/fonts/KoPubDotumMedium.woff") format("woff"), url("../assets/fonts/KoPubDotumMedium.svg") format("svg");
}

@font-face {
  font-family: 'Dotum Bold';
  src: url("../assets/fonts/KoPubDotumBold.ttf") format("truetype"), url("../assets/fonts/KoPubDotumBold.otf") format("opentype"), url("../assets/fonts/KoPubDotumBold.woff") format("woff"), url("../assets/fonts/KoPubDotumBold.svg") format("svg");
}

html, body {
  margin: 0;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Dotum Light', sans-serif;
  font-size: 1.4rem;
}

a {
  text-decoration: none;
  color: #202020;
}

ul {
  margin: 0;
  padding-left: 0;
}

ul li {
  list-style: none;
}

p {
  margin: 0;
}

.side-menu {
  position: fixed;
  left: 0;
  top: 0;
  width: 319px;
  height: 100vh;
  border-right: 1px solid #ddd;
}

.utill-list {
  position: absolute;
  z-index: 9999;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.utill-list li {
  margin-right: 20px;
}

.utill-list li:last-child {
  margin-right: 0;
}

.utill-list a {
  position: relative;
}

.utill-list a:hover::before, .utill-list a:focus::before {
  top: 65%;
}

.utill-list a:hover span, .utill-list a:focus span {
  color: #202020;
}

.utill-list span {
  font-size: 0.9rem;
  font-weight: bolder;
  color: #777;
  text-transform: uppercase;
}

.side-menu-content {
  position: absolute;
  width: 100%;
  top: 50%;
  margin-top: -400px;
  padding-top: 150px;
  transition: all 0.2s;
}

.logo-box {
  text-align: center;
}

.menu-list {
  position: relative;
  margin-top: 20px;
}

.menu-list > li {
  position: relative;
  padding: 12px 0;
  width: 207px;
  margin: 0 auto;
}

.menu-list a {
  position: relative;
  display: inline-block;
  width: 9rem;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  transition: all .5s ease-out;
}

.menu-list a:hover .title-context,
.menu-list a:focus .title-context {
  color: #202020;
}

.menu-list a:hover .title-context::before,
.menu-list a:focus .title-context::before {
  top: initial;
  bottom: 0;
}

.menu-list .title-context {
  position: relative;
  letter-spacing: -0.08em;
  font-weight: bold;
  color: #6c6c6c;
}

.menu-list .title-context.actived-title-context {
  color: #202020;
}

.menu-list .title-context.actived-title-context::before {
  top: initial;
  bottom: 0;
}

.menu-list.actived-menu a {
  text-align: left;
  left: 5px;
  transform: initial;
}

.submenu {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  top: 12px;
  left: 10rem;
  transition: all .5s;
}

.submenu li a {
  padding: 12px 0;
}

.submenu li:first-child a {
  padding-top: 0;
}

.submenu span {
  letter-spacing: -0.08em;
  font-weight: bold;
  color: #202020;
}

.submenu.actived-submenu {
  z-index: 9999;
  visibility: visible;
  opacity: 1;
}

.footer {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 20px;
  padding: 0 25px;
}

.footer-list {
  margin-bottom: 5px;
}

.footer-list li {
  margin: 0 7px;
}

.footer-list li:first-child {
  margin-left: 0;
}

.footer-list li:first-child a {
  font-weight: bold;
}

.footer-list a {
  font-size: 1.2rem;
  color: #777;
}

.copyright {
  text-transform: capitalize;
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: #777;
}

.related-site {
  height: 2.8rem;
  border: 1px solid #aaa;
  width: 100%;
}

.related-site .title {
  box-sizing: border-box;
  padding-left: 10px;
  line-height: 2.8rem;
}

.related-site .title a {
  display: block;
  color: #777;
}

.related-site-box {
  position: relative;
  display: none;
  width: 100%;
}

.related-site-box .related-site-list {
  position: absolute;
  left: -1px;
  bottom: 2.8rem;
  width: 100%;
  padding: 7px 0;
  border: 1px solid #aaa;
  background-color: #fff;
}

.related-site-box .related-site-list a {
  display: block;
  box-sizing: border-box;
  padding: 5px 0 5px 10px;
  color: #777;
}

.related-site-box.actived {
  display: block;
}

/*# sourceMappingURL=stylesheet.css.map */