@charset "UTF-8";
html, body,
h1, h2, h3, h4, h5, h6,
p, figure {
  margin: 0;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.4rem;
}

a {
  text-decoration: none;
  color: #202020;
}

ul {
  margin: 0;
  padding-left: 0;
}

li {
  list-style: none;
}

.wrapper {
  position: relative;
  z-index: 1000;
}

.a11y-hidden {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
  clip: rect(0 0 0 0);
  margin: -1px;
}

.intro {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: #fff;
  z-index: 9999;
}

.intro .intro-img-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.intro.invisible {
  -webkit-animation: intro-invisible 0.8s forwards;
  animation: intro-invisible 0.8s forwards;
}

.intro.invisible.none {
  display: none;
}

@keyframes intro-invisible {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.logo {
  position: fixed;
  top: 34px;
  left: 28px;
  z-index: 999;
}

.logo a {
  display: block;
  width: 80px;
}

.logo img {
  width: 100%;
  height: auto;
}

.sub-title {
  position: fixed;
  z-index: 201;
  left: 40px;
  top: 150px;
  font-size: 5rem;
  color: #fff;
}

.sub-title span {
  color: #ff0;
}

.video-box {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: visible;
}

.video-box video {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.video-box.invisible {
  animation: invisible 1.5s forwards;
}

.video-title-box {
  position: absolute;
  width: 100%;
  bottom: 180px;
  left: 40px;
  z-index: 201;
}

.video-title-box h2, .video-title-box p {
  color: #fff;
}

.video-title-box a {
  color: #aaa;
}

.video-title-box a:hover {
  color: #fff;
}

.video-title-box h2 {
  font-size: 5rem;
}

.video-title-box p, .video-title-box a {
  font-size: 3rem;
}

.video-title-box .title {
  position: absolute;
  top: 0;
  left: 0;
}

.video-title-box .title.invisible {
  animation: invisible 1.5s forwards;
}

@keyframes invisible {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

main {
  box-sizing: border-box;
  position: relative;
  z-index: 500;
  background: #fff;
  margin-top: 100vh;
}

.main-inner {
  max-width: 1440px;
  padding: 10px;
  margin: 0 auto;
}

.introduce-company {
  padding: 40px 0;
}

.introduce-company p {
  max-width: 1000px;
  margin: 0 auto;
}

.introduce-company .eng {
  font-size: 2.8rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.introduce-company .kor {
  font-size: 1.6rem;
  font-weight: bold;
  color: #999;
}

.news ul::after {
  content: '';
  display: block;
  clear: both;
}

.news li {
  float: left;
  box-sizing: border-box;
  width: 25%;
  padding: 10px;
  margin-bottom: 25px;
}

.news li.one {
  width: 100%;
}

.news li.one figcaption {
  background: transparent;
}

.news li.one p, .news li.one time {
  font-size: 4rem;
  font-weight: bold;
  color: #202020;
}

.news li.one .who {
  position: initial;
  font-size: 4rem;
  font-weight: bold;
}

.news a {
  display: block;
  cursor: pointer;
  position: relative;
}

.news a:hover figcaption {
  opacity: 1;
}

.news img {
  display: block;
  width: 100%;
  height: auto;
}

.news img.circle {
  border-radius: 50%;
}

.news img.full {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.news figcaption {
  position: absolute;
  opacity: 0;
  box-sizing: border-box;
  padding: 26px 30px;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.8);
  font-size: 1.6rem;
  transition: all 0.25s;
}

.news figcaption.circle {
  border-radius: 50%;
  background: transparent;
}

.news figcaption.circle p {
  position: absolute;
  width: 100%;
  height: initial;
  line-height: 1;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.5rem;
  font-weight: bold;
  color: #fff;
}

.news figcaption.circle .who {
  left: 50%;
  transform: translateX(-50%);
}

.news figcaption.show {
  opacity: 1;
}

.news figcaption p {
  line-height: 1.5;
}

.news figcaption p.abbr {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 7;
  /* 라인수 */
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  line-height: 1.2em;
  height: 8.4em;
}

.news figcaption span {
  display: block;
}

.news figcaption time, .news figcaption .who {
  color: #999;
}

.news figcaption .who {
  position: absolute;
  left: 30px;
  bottom: 20px;
  transition: all 0.5s;
}

.news figcaption .who:hover {
  color: #fff;
}

.show-me-more {
  position: relative;
  text-align: center;
  padding: 37px 0;
}

.show-me-more .nav, .show-me-more .more {
  font-size: 2.5rem;
  font-weight: bold;
}

.show-me-more .nav {
  position: absolute;
  top: 50%;
  left: 30px;
  transform: translateY(-50%);
}

.show-me-more .more a {
  color: #aaa;
  transition: all 0.5s;
}

.show-me-more .more a:hover {
  color: #202020;
}

footer {
  position: relative;
  box-sizing: border-box;
  z-index: 550;
  padding: 35px 10px;
  max-width: 1440px;
  background: #fff;
  margin: 0 auto;
}

.contact::after, .contact ul {
  content: '';
  display: block;
  clear: both;
}

.contact > li:nth-child(1) {
  float: left;
  width: 50%;
}

.contact > li:nth-child(1) p {
  font-size: 2.5rem;
  font-weight: bold;
}

.contact > li:nth-child(2) {
  float: right;
  width: 21.5%;
  font-size: 1.5rem;
  font-weight: bold;
}

.contact > li:nth-child(2) ul {
  margin-top: 30px;
}

.contact > li:nth-child(2) ul a {
  display: block;
  border: 1px solid #aaa;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-weight: bold;
  font-size: 1.5rem;
  color: #202020;
  margin-right: 5px;
}

.contact > li:nth-child(2) li.facebook a:hover {
  background: #3b5998;
  color: #fff;
}

.contact > li:nth-child(2) li.twitter a:hover {
  background: #3f729b;
  color: #fff;
}

.contact > li:nth-child(2) li.instagram a:hover {
  background: #55acee;
  color: #fff;
}

.contact > li:nth-child(2) li.youtube a:hover {
  background: #cd201f;
  color: #fff;
}

.contact > li:nth-child(2):last-child a {
  margin-right: 0;
}

.contact > li:nth-child(3) {
  float: right;
  width: 21.5%;
  font-size: 1.5rem;
  font-weight: bold;
}

.contact > li:nth-child(3) address {
  font-style: initial;
}

.contact > li:nth-child(3) a {
  margin-top: 30px;
  display: block;
}

.contact ul li {
  float: left;
}

.copyright {
  margin-top: 20px;
}

.copyright p {
  font-weight: bold;
}

.copyright a {
  color: #aaa;
}

.copyright a:hover {
  color: #202020;
}

/*
    header

*/
@media screen and (max-width: 639px) {
  .logo a {
    width: 50px;
  }
  .sub-title {
    font-size: 2.5rem;
  }
  .video-title-box {
    bottom: 80px;
  }
  .video-title-box h2 {
    font-size: 2.5rem;
  }
  .video-title-box p, .video-title-box a {
    font-size: 1.4rem;
  }
}

/*
    main news section 
    1step(desktop)
      - desktop: min-width: 1200px;
    2step(tablet1, teblet2)
      - tablet1: 1line 3contents
        - min-width: 1050px, max-width: 1199px;
      - tablet2: 1line 2contents
        - min-width: 710px, max-width: 1049px;
    3step(mobile)
      - mobile: max-width: 709px;
*/
@media screen and (min-width: 1050px) and (max-width: 1200px) {
  .news li {
    width: calc(100% / 3);
  }
  .news figcaption p.abbr {
    -webkit-line-clamp: 12;
    height: 14.4em;
  }
}

@media screen and (min-width: 710px) and (max-width: 1049px) {
  .news li {
    width: calc(100% / 2);
  }
  .news figcaption p.abbr {
    -webkit-line-clamp: 12;
    height: 14.4em;
  }
}

@media screen and (max-width: 1049px) {
  .show-me-more .nav, .show-me-more .more {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 709px) {
  .news li {
    width: 100%;
  }
  .news li.one p, .news li.one time {
    font-size: 2rem;
  }
  .news li.one .who {
    font-size: 2rem;
  }
  .news figcaption p.abbr {
    -webkit-line-clamp: 9;
    height: 10.8em;
  }
}

@media screen and (max-width: 709px) {
  .show-me-more .nav, .show-me-more .more {
    font-size: 1.3rem;
  }
}

@media screen and (min-width: 710px) and (max-width: 1049px) {
  .show-me-more .nav, .show-me-more .more {
    font-size: 2rem;
  }
}

/*
  footer
  1step(desktop)
    - desktop: min-width: 1000px;
  2step(tablet)
    - tablet 
      - min-width: 730px, max-width: 999px;
  3step(mobile)
    - mobile
      - max-width: 709px;
*/
@media screen and (max-width: 999px) {
  .contact > li:nth-child(1) {
    width: 100%;
  }
  .contact > li:nth-child(1) p {
    box-sizing: border-box;
    width: 70%;
    padding-left: 1rem;
  }
  .contact > li:nth-child(2),
  .contact > li:nth-child(3) {
    margin-top: 30px;
  }
  .contact > li:nth-child(2) {
    width: 58%;
    margin-right: 10px;
  }
  .contact > li:nth-child(3) {
    width: 39%;
  }
  .copyright {
    margin-top: 50px;
  }
}

/*# sourceMappingURL=stylesheet.css.map */