// 참고 자료
// https://codepen.io/rstacruz/pen/oxJqNv

.wave-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;

  .wave {
    opacity: .4;
    position: absolute;
    left: 50%;
    border-radius: 43%;
    -o-transform-origin: 50% 48%;
    -ms-transform-origin: 50% 48%;
    -moz-transform-origin: 50% 48%;
    -webkit-transform-origin: 50% 48%;
    -o-animation: drift 3000ms infinite linear;
    -ms-animation: drift 3000ms infinite linear;
    -moz-animation: drift 3000ms infinite linear;
    -webkit-animation: drift 3000ms infinite linear;
  }
}

// .wave-box:after {
//   content: '';
//   display: block;
//   left: 0;
//   top: 0;
//   width: 100%;
//   height: 100%;
//   z-index: 11;
//   transform: translate3d(0, 0, 0);
// }

