header {
  position: fixed;
  z-index: 9999;
  background: transparent;
  width: 100%;
  transition: $transition-play-time all;
}
header.active {
  background: rgba(255, 255, 255, 0.8);

  .logo {
    img {
      opacity: 1px;
      &:first-child {
        display: none;
        opacity: 0;
      }  
      &:last-child {
        display: block;
        opacity: 1;
      }
    }
  }
  .gnb {
    a {
      color: $header-font-color;
    }
  } 
} 
.header-inner {
  position: relative;
  background: transparent;
  @include clear-fix;
}
.logo {
  float: left;
  a {
    display: block;
  }
  img {
    opacity: 0;
    display: none;
    &:first-child {
      display: block;
      opacity: 1;
    }
  }
}
.gnb {
  li:last-child {
    a:hover {
      color: $header-font-color;
      background: #fff;
    }
  }
}
.mobile-gnb-btn {
  display: none;
  cursor: pointer;
}

// 1090 843

// mobile, tablet 
// max-width: 843px;
@include breakPoint(0, 843px) {
  header.active {
    .gnb {
      background: rgba(255, 255, 255, 0.8);
    }
    .mobile-gnb-btn {
      span {
        background: $header-font-color;
      }
    }
  }
  .logo {
    
    padding: 7.5px 15px;
  }
  .mobile-gnb-btn {
    position: relative;
    float: right;
    display: block;
    padding: 9px 10px;
    margin: 12px 4px;
    span {
      display: block;
      width: 22px;
      height: 2px;
      margin-bottom: 5px;
      background: #fff;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .gnb {
    position: absolute;
    display: none;
    width: 100%;
    top: 100%;
    background-color: #4776e6;
    background-image: linear-gradient(90deg, #4776e6 0%, #8e54e9 100%); 
    
    a {
      color: #fff;
      display: block;
      padding: 10px 15px;
      line-height: 20px;
      font-weight: bold;
    }
  }
}

// desktop 1
// min-width: 844px
@include breakPoint(844px) {
  header {
    padding: 28px 0;
  }
  header.active {
    padding: 0;
    .gnb {
      display: block;
      li:last-child {
        a {
          border: 2px solid $header-font-color;
        }
        a:hover {
          color: #fff;
          background: $header-font-color;
        }
      }
      a::after {
        background: $header-font-color;
      }
    }
  }
  .header-inner {
    width: 750px;
    margin: 0 auto;
    height: 73px;
    line-height: 73px;
  }
  .logo {
    a {
      padding: 15px 0;
    }
  }
  .gnb {
    padding-left: 180px;
    ul {
      @include clear-fix;
    }
    li {
      float: left;
      margin-right: 10px;
      &:nth-child(7) {
        margin-right: 15px;
      }
    }
    li:last-child {
      margin-right: 0;
      a {
        border: 2px solid #fff;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        padding: 10px 15px;
        font-size: 1.6rem;
      }
      a::after {
        content: '';
        display: none;
      }
    }
    a {
      position: relative;
      color: #fff;
      padding: 5px 0;
      
      &:hover {
        &::after {
          opacity: 1;
        }
      }
    }

    a::after {
      content: '';
      position: absolute;
      width: 100%;
      opacity: 0;
      bottom: 0;
      left: 0;
      height: 2px;
      background: #fff;
      transition: $transition-play-time all;
    }
  }
}
// desktop 2
// min-width: 1091px

@include breakPoint(1091px) {
  .header-inner {
    width: 970px;
  }
  .gnb {
    padding-left: 250px;
    li {
      margin-right: 25px;
      &:nth-child(7) {
        margin-right: 70px;
      }
    }
  }
}