// font
$default-font-size: 1.4rem;
$default-font-color: #606060;
$header-font-color: #725ce6;


// transition
$transition-play-time: 0.23s;

// static width
$desktop-width: 970px;
$tablet-width: 750px;
$mobile-width: 100%;

// device size
$desktop-size: 1091px;
$tablet-min-size: 844px; 
$tablet-max-size: 1090px; 
$mobile-size: 843px; 